{% extends "base.html" %}

{% set title = 'Login Page' %}

{% block content %}
<!--==========================
    Hero Section
  ============================-->
<section id="hero">
   <div class="hero-container">
      <h1>Log In</h1>
      <br>
      <form action="" method="post">
          <input type="text" placeholder="Username" name="username" value="{{
        request.form.username }}">
          <br />
          <input type="password" placeholder="Password" name="password" value="{{
        request.form.password }}">
          <br />
          <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
  </div>
</section>
{% endblock %}