{% extends "base.html" %}

{% set title = 'Profile' %}

{% block content %}

<!--==========================
         ID Section
  ============================-->
  <section id="hero">
  <div class="hero-container">
        {% if current_user.username %}
            <h1>Hello, {{ current_user.username }}!</h1>
            {% for post in posts %}
            <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
            {% endfor %}
            <br>
            {%if current_user.path %}
                <p>Career Path: {{current_user.path }}</p>
              {% endif %}
            {%if current_user.languages %}
              <p>Languages you can code in: {{current_user.languages}}
              <!-- {% for language in current_user.languages %}
              {{language}}
              {% endfor %} -->
              </p>
              {% endif %}
            <form id="form" action="" method="post">
              <h2> My area of interest is: </h2>
            <label for="path"></label>
            <div class="path-drop">
            <select id="path" name="path">
              <option value="Cloud Computing">Cloud Computing</option>
              <option value="Software Development" selected>Software Development</option>
              <option value="Data Science">Data Science</option>
              <option value="Cyber Security">Cyber Security</option>
              <option value="Game Development">Game Development</option>
            </select>
          </div>
            <br><br>
              <h2>Languages I can code in:</h2>
            <input type="checkbox" id="language1" name="languages" value="Python">
            <label for="language1"> Python</label><br>
            <input type="checkbox" id="language2" name="languages" value="Csharp">
            <label for="language2"> C#</label><br>
            <input type="checkbox" id="language3" name="languages" value="Ruby">
            <label for="language3"> Ruby</label><br>
            <input type="checkbox" id="language4" name="languages" value="Java">
            <label for="language4"> Java</label><br>
            <input type="checkbox" id="language5" name="languages" value="Cplusplus">
            <label for="language5"> C++</label><br><br>
          <input class="btn btn-default" type="submit" value="Update Profile">
          </form>
            <section id="hero">
              <div class="hero-container">
            <textarea name="bio" rows="10" cols="30">Write a bit about yourself.</textarea>
            <br><br>
            </div>
          </section>
        {% else %}
          <h1>Please Log In or Sign Up!</h1>
      {% endif %}
 </div>
</section>
{% endblock %}